    /*ReStore/CSS/category-style.css*/
    /* THIS CSS IS FOR PRODUCTS */
    
    @font-face{
        font-family: 'Open-Sans';
        src: url(../Fonts/Open_Sans/OpenSans-Regular.ttf)
    }

    @keyframes fill-shadow{
        0% {text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);}
        5% {text-shadow: 0px 0px 18px rgb(0, 0, 0);}
        25% {text-shadow: 0px 0px 18px black;}
        50% {text-shadow: 0px 0px 18px rgba(0, 0, 0, 0);}
        75% {text-shadow: 0px 0px 18px black;}
        
    }
    

    *{
        margin: 0px;
        padding: 0px;
   
    }

    body{
        font-family: 'Open-Sans', Arial, Helvetica, sans-serif;
        background-color: rgb(56, 56, 56);
    }

    
    header{
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0.8);    
        width: 1400px;
        margin: 0 auto;
       

        
    }

    header > h1{
        order: 1;
    }

    header > nav{
        order: 2;
    }

    #welcome{
        order:4;
    }

    #search-bar{
        order:3;
    }
    


    h1{
        flex-grow: 1;

        text-align: center;
        padding-top:25px;
        padding-right: 0%;    
        /* min-width: 350px; */
        
    }

    h2{
        font-weight: bold;
        font-size: 1.5em;
    }

    #headline-categories{
        font-size: 0px;
       
    }

    .top-element{
        flex-grow: 1;      
    }

    ::placeholder{
        color: #bdbdbd;
        padding-left: 0px;
        font-size: 1.2em;
        text-align: center;
    }


    #search-input:focus, #search-button:focus{
        outline: none;      
    }
    
    #search-div
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 25px ;
    }

    #search-input{
        padding: 5px 0px 5px 10px;
        height: 30px;
        width: 200px;
        border-radius: 25px 0px 0px 25px;
        border: solid #9c9c9c 1px;
        border-right: 0px;  
    }    

    #search-button{       
        width: 35px;      
        height: 30px; 
        padding: 0px 0px 3px 0px;   
        border-radius: 0px 25px 25px 0px;
        border: solid #9c9c9c 1px;
        border-left: 0px;     
        }



    nav{  
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
        border-bottom: 2px solid #c9c9c9;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

    a{
     text-decoration: none;
     color: black;
    }


    #headline-link:hover{
        background-color: transparent;
    }

    a:hover{
        color: inherit;
        animation: fill-shadow;
        animation-duration: 10s;      
        animation-timing-function: cubic-bezier(.73,.03,.35,.99);
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;       
    }

    a:visited{
        color: rgb(0, 0, 0);
    }


    main{                
        background-color: rgba(255,255,255, 0.7);            
        margin: 0 auto;
        width: 1400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
       
         
    }    

/*///////////*/
/* LEFT SIDE */
/*///////////*/
/*IMAGES*/
/* //// */



.section-1{
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 1%;
}

.section-1 > article:nth-of-type(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

    .section-1 > article:nth-of-type(1)>h1{
    text-align: left;
    font-size: 35px;
}


/* PRODUCT PROPERTIES */

.align-properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.align-properties > article:nth-of-type(1) > ul > li{
list-style-image: url(../Images/checkmark.jpg);} 


.align-properties > article:nth-of-type(2){
    text-align: right;}

.align-properties > article:nth-of-type(2) > ul > li{
    list-style: none;
}
    
    





/*///////////*/
/*RIGHT SIDE */
/*///////////*/
/* PRICE */

aside{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.514);
    width: 30%;
}

aside div:nth-of-type(1) > p > span{
    color: green;
    font-size: 1.2em;
}

aside div:nth-of-type(1) > h1{
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 auto;
   
}

/* BASKET BUTTON */

aside> form > button{
    margin: 0 auto;
    margin-top: 25px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid rgb(255, 153, 0) 1px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(222,249,6,0.7791491596638656) 0%, rgba(236,212,71,1) 61%, rgba(251,238,147,1) 100%);
    box-shadow: rgb(167, 252, 9) 0px 0px 15px;
    font-size: 1.3em;
    font-weight: bold;
}

aside> form > button:hover{   
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,246,157,0.7791491596638656) 0%, rgba(242,233,179,1) 61%, rgba(251,238,147,1) 100%);
   
}

/* SHARE THIS PRODUCT*/
aside > div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
}

aside > h4{
    margin: 70px 0 30px 0;
}

aside > table {
    margin: 10px auto;
  }

aside > table {
    margin: 10px auto;
  }

aside > table > tbody > tr > td {
  padding: 10px;
}





/*////////*/
/* FOOTER */
/*////////*/

    footer{
        padding:25px 0 25px 0;        
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0);        
        margin: 0 auto;  
        width: 1400px;      
        justify-content: center;
        color: white;
    }  

    footer > div:nth-of-type(1)
    {
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.815);
    }
    
    footer > div:nth-of-type(2)
    {
        width: 100%;
        text-align: center;
    }

    footer > div:nth-of-type(3)
    {
        width: 100%;
        text-align: center;
    }

    footer > div:nth-of-type(4)
    {
        width: 100%;
        text-align: center;
        font-weight: 100;
        font-size: 0.8em;
    }


    #home{
        color: black;
        padding: 15px 0 15px 0;
    }

    #home:hover{
        background-color: transparent;
    }
 
    /*////////////
    /*TABLET CSS*/
    /*//////////*/
   
    @media screen and (max-width: 1400px){
        header{
            width: 100%;
        }

        main{
            width: 100%;
        }
        
        footer{
            width: 100%;
        }

    }
    
    /* //////////////// */
    /* MOBILE PHONE CSS */
    /* //////////////// */

   
    
    @media screen and (max-width: 500px){

        .section-1{
            background-color: rgb(255, 255, 255);
            width: 100%;
            padding: 1%;
        }

        .section-1 > article:nth-of-type(1)>h1{
            text-align: center;            
            font-size: 25px;
        }

        
       #ReStoreImage{
           width: 35%;
       }

       header{
           width: 100%;
           display: flex;        
           margin: 0 0 0 0;
       }
       

       #headline-categories{
           font-size: 25px;
           margin: 0px;
       }

       a:hover{
        color: rgb(65, 65, 65);
        background-color: rgb(255, 255, 255);           
       }

       

       .top-element{         
           align-self: flex-end;
       }
       
       nav{       
        font-size: 0;
        margin: 0 0 0 0; 
        height: 0;        
        }  



        #search-bar{
            width: 100%;
            background-color: rgb(51, 202, 169);        
        }

        #search-input{
            padding: 5px 0px 5px 10px;
            height: 30px;
            width: 200px;
            border-radius: 25px 0px 0px 25px;
            border: solid #9c9c9c 1px;
            border-right: 0px;  
        }

        #search-button{
            padding: 0px 0px 0px 0px;            
            height: 30px; 
            width: 35px;      
            border-radius: 0px 25px 25px 0px;
            border: solid #9c9c9c 1px;
            border-left: 0px;     
            }

            #search-div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px ;
        }

   
      
        main{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: rgba(255,255,255, 0.9);
            justify-content: center;    
            flex-direction: column;  
            margin: 0 0 0 0;    
        }       

        footer{
               
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(0, 0, 0, 0);   
           
            
            width: 100%;      
            justify-content: center;
            color: white;
        }  

    /* PRODUCT PROPERTIES */          


        .align-properties > article:nth-of-type(2){
            width: 100%;
            text-align: center;}

            /*///////////*/
/*RIGHT SIDE */
/*///////////*/
/* PRICE */

aside{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.514);
    width: 100%;
}

aside div:nth-of-type(1) > p > span{
    color: green;
    font-size: 1.2em;
}

aside div:nth-of-type(1) > h1{
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 auto;
   
}

/* BASKET BUTTON */

aside> form > button{
    margin: 0 auto;
    margin-top: 25px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid rgb(255, 153, 0) 1px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(222,249,6,0.7791491596638656) 0%, rgba(236,212,71,1) 61%, rgba(251,238,147,1) 100%);
    box-shadow: rgb(167, 252, 9) 0px 0px 15px;
    font-size: 1.3em;
    font-weight: bold;
}

aside> form > button:hover{   
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(236,246,157,0.7791491596638656) 0%, rgba(242,233,179,1) 61%, rgba(251,238,147,1) 100%);
   
}

/* SHARE THIS PRODUCT*/
aside > div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
}

aside > h4{
    margin: 70px 0 30px 0;
}

aside > table {
    margin: 10px auto;
  }

aside > table {
    margin: 10px auto;
  }

aside > table > tbody > tr > td {
  padding: 10px;
}

    }

    
