/* style.css */

body{
    background-color:magenta;
}
*:focus{
    outline: none;
}

#printing{
    background-color: white;
    margin: 0px auto;
    border: solid 5px black;
    width: 80%;
    height: 300px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

#mainWindow{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

button{
    width:40%;
    height: 300px;
    border-radius: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin: 10px;
    font-size: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#buttonInside{
    width:180px;
    height: 40px;    
    border-radius: 10px;
    font-size: 25px;

}

#buttonInside:focus{
    outline: none;
}
#moneyInput{
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 30px;
    font-family: monospace;
}

#moneyInput:focus{
    outline: none;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 20%;
}

